<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form class="example-form" [formGroup]="form" (submit)="registrar()">
        <mat-form-field class="example-full-width">
            <mat-label>Peso </mat-label>
            <input matInput placeholder="Peso"  formControlName="weightEquipaje">
            
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="Precio" formControlName="priceEquipaje">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="statusEquipaje">
                <mat-option *ngFor="let e of estados" [value]="e.value">
                    {{e.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateReception">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-raised-button color="accent">Registrar</button>

    </form>


</body>

</html>